{% extends "base.html" %}

{% block content %}

<h1>
    >
    Allgemeines
    {% include "user_status.html" %}
</h1>
<div class="main_box">
    <!-- ALLGEMEINES -->
    <div class="h2_box">
        <h2>Bullingers Briefwechsel {% include "title_navigation_tr.html" %}</h2>
        <div class="h2_section">
            <div class="parallel intro_left">
                <div class="container">
                    <img alt="Heinrich Bullinger" src="{{ url_for('static', filename='images/bullinger_ipad.jpeg') }}">
                </div>
            </div>
            <div class="parallel intro_right">
                <div class="intro_text">
                    <p>
                        Der Zürcher Reformator
                        <a class="text_link" href="https://de.wikipedia.org/wiki/Heinrich_Bullinger">Heinrich Bullinger</a>
                        (1504-1575) war Mitarbeiter und Nachfolger von Zwingli und ein wichtiger Multiplikator für die Ideen
                        der Reformation in der Schweiz und in Europa. Entsprechend gross war sein Korrespondenz-Netzwerk.
                    </p>
                    <p>
                        Offenbar hat Bullinger schon zu seiner Zeit erkannt, wie bedeutungsvoll die Korrespondenz ist.
                        Denn er hat nicht nur die rund 10’000 Briefe aufbewahrt, die er erhalten hat, sondern sich auch
                        um die Rückgabe geschriebener Briefe bemüht. So sind auch 2'000 Briefe erhalten, die Bullinger
                        einst geschrieben hat.
                    </p>
                    <p>
                        Die handschriftlichen Originale liegen mehrheitlich im Staatsarchiv Zürich und in der
                        Zentralbibliothek Zürich. Ein Teil der Briefe (1524 bis 1547) ist bereits ediert. Ziel unseres
                        Projektes "Bullinger digital" ist es, die übrigen Briefe digital zu erschliessen und über das
                        Internet zugänglich zu machen. Dazu haben wir in einem ersten Schritt eine Datenbank aufgebaut,
                        in welcher zu jedem Brief die wesentlichen Meta-Daten wie Absender, Empfänger, Ort und
                        Briefsprache erfasst werden.
                    </p>

                </div>
            </div>
            <div class="clearing"></div>
        </div>
    </div>
    <div class="h2_separator"></div>
    <!-- PROJEKTZIELE -->
    <div class="h2_box">
        <h2>Projektziele {% include "title_navigation.html" %}</h2>
        <div class="h2_section">
            <ul>
                <li>
                    Aufbau einer Datenbank zum Bullinger-Briefwechsel


                    <a class="text_link" href="https://de.wikipedia.org/wiki/Citizen_Science">(Citizen Science)</a>
                    <span style="color:green">&#10003;</span>
                </li>
                <li>
                    <span class="kw">Aktuell: Ausbau der Datenbank mit allen Dokumenten aus dem Bullinger-Briefwechsel</span>
                </li>
                <li>automatische Erschliessung der noch nicht edierten Briefe (Scannen, Handschriften-OCR)</li>
                <li>Aufbau eines massgeschneiderten Systems zur maschinellen Übersetzung Latein &#8594; Deutsch</li>
                <li>Modernisierung und Erweiterung des Suchsystems</li>
            </ul>
        </div>
    </div>
    <div class="h2_separator"></div>
    <!-- KARTEI -->
    <div class="h2_box">
        <h2>Metainformationen zum Briefwechsel {% include "title_navigation.html" %}</h2>
        <div class="h2_section">
            <ul>
                <li><a class="text_link" href="{{url_for('overview')}}">Datum</a></li>
                <li><a class="text_link" href="{{url_for('overview_persons')}}">Korrespondenten</a></li>
                <li>
                    <a class="text_link" href="{{url_for('places')}}">Ortschaften</a>
                    (&rarr; <a class="text_link" href="{{url_for('locations_map')}}">Landkarte</a>)
                </li>
                <li><a class="text_link" href="{{url_for('overview_autocopy')}}">Autographen/Kopien</a></li>
                <li><a class="text_link" href="{{url_for('overview_literature_and_printed')}}">Literatur/Gedruckt</a></li>
                <li><a class="text_link" href="{{url_for('languages')}}">Sprachen</a></li>
                {% if vars["is_vip"] %}
                <li><a class="text_link" href="{{url_for('overview_states')}}">Status</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="h2_separator"></div>
    <!-- LINKS -->
    <div class="h2_box">
        <h2>Links {% include "title_navigation.html" %}</h2>
        <div class="h2_section">
            <div class="textblock">
                <p><span class="kw">Dokumente</span></p>
                <ul class="items">
                    <li>
                        Ausführlichere Informationen zur Korrekturkampagne
                        [<a class="text_link" href="{{ url_for('send_file_correction_campaign') }}">pdf</a>]
                    </li>
                    <li>
                        Flyer zur öffentlichen Vorstellung des Projektes «Bullinger digital»
                        <span class="kw_italic">(ZB-Zürich, 28.10.2020, 17:30 Uhr)</span>
                        [<a class="text_link" href="{{ url_for('send_file_flyer_zb') }}">pdf</a>]
                    </li>
                </ul>
            </div>
            <div class="textblock">
                <p><span class="kw">Bisherige/Bestehende Projekte</span></p>
                <ul class="items">
                    <li>
                        <a class="text_link" href="https://www.irg.uzh.ch/de/bullinger-edition/briefwechsel.html">Editions-Projekt</a>
                        des
                        <a class="text_link" href="https://www.irg.uzh.ch/de.html">IRG</a>
                        <span class="kw_italic">(= Institut für Schweizerische Reformationsgeschichte)</span>
                    </li>
                    <li>
                        <a class="text_link" href="http://teoirgsed.uzh.ch/">Brief-Suchsystem</a>
                        <span class="kw_italic">(&#126;3000 bereits transkribierte/edierte Dokumente)</span>
                    </li>
                </ul>
            </div>
            <div class="textblock">
                <p><span class="kw">Berichterstattungen</span></p>
                <ul class="items">
                    <li>
                        <a class="text_link" href="https://www.uzhfoundation.ch/de/unsere-themen/weitere-projekte/bullinger-briefe">
                            UZH Foundation</a>
                        (Die Stiftung der UZH)
                        - <span class="kw_italic">Die Bullingerbriefe: Zürichs Erbe ins digitale Zeitalter bringen</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://www.inside-it.ch/de/post/digitalisierungs-projekt-der-uzh-sucht-freiwillige-20200323">
                            Inside-IT</a>
                        (Das Portal für IT-Verantwortliche)
                        - <span class="kw_italic">Digitalisierungs-Projekt der Uni Zürich sucht Freiwillige</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://infoclio.ch/de/citizen-science-projekt-bullinger-digital%E2%80%99-%E2%80%93-jetzt-mitmachen">
                            Infoclio</a>
                        (Das Schweizer Fachportal für die Geschichtswissenschaften)
                        - <span class="kw_italic">Citizen Science-Projekt "Bullinger Digital"</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://www.schweiz-forscht.ch/de/citizen-science-projekte/item/460-korrekturkampagne-bullinger-digital">
                            Schweiz Forscht</a>
                        - <span class="kw_italic">Korrekturkampagne "Bullinger Digital"</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://youngscience.at/de/angebote/projekte-zum-mitforschen/mitforschen-von-daheim/">
                            Young Science Zentrum</a>
                        - <span class="kw_italic">Bullinger digital - korrigiere und ergänze den Briefwechsel</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://www.zhref.ch/intern/kommunikation/notabene/downloads/zhref-notabene-3-2020.pdf">
                            notabene</a>
                        (Reformierte Kirche Kanton Zürich)
                        - <span class="kw_italic">Freiwillige helfen mit, Briefe aus dem 16. Jahrhundert der Öffentlichkeit zugänglich zu machen</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://reformiert.info/de/korrekturkampagne-lbullinger-digitalr-18801.html">Reformiert.</a>
                        - <span class="kw_italic">Korrekturkampagne «Bullinger digital» (soviel Sie mögen)</span>
                    </li>
                    <li>
                        <a class="text_link" href="https://radio.lifechannel.ch/leben/gesellschaft/kirche-gesellschaft/briefe-von-heinrich-bullinger-werden-digitalisiert/">Radio Life Channel</a>
                        - <span class="kw_italic">Briefe von Heinrich Bullinger werden digitalisiert</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="h2_separator"></div>
    <!-- KONTAKT -->
    <div class="h2_box">
        <h2>Kontakt {% include "title_navigation_lt.html" %}</h2>
        <div class="h2_section">
            <div class="textblock">
                <p>
                    <a class="text_link" href="https://www.cl.uzh.ch/de.html"><span class="kw">Institut für Computerlinguistik</span></a>
                    (Philosophische Fakultät der UZH),
                    Andreasstrasse 15,
                    Zürich
                </p>
                <ul class="items">
                    <li>
                        <a class="text_link" href="mailto:volk@cl.uzh.ch">Prof. Dr. Martin Volk</a>
                        (Instituts-/Projektleiter)
                    </li>
                    <li>
                        <a class="text_link" href="mailto:bullinger-digital@protonmail.com">Lic. phil. Patricia Scheurer</a>
                        (Projektkoordinatorin)
                    </li>
                    <li>
                        <a class="text_link" href="mailto:bernard.schroffenegger@uzh.ch">Bernard Schroffenegger</a>
                        (Administrator)
                    </li>
                    <li>
                        <a class="text_link" href="mailto:raaphii@gmail.com">Raphael Müller</a>
                        (Webdesigner)
                    </li>
                </ul>
            </div>
            <div class="textblock">
                <p>
                    <a class="text_link" href="https://www.irg.uzh.ch/de.html"><span class="kw">Institut für Schweizerische Reformationsgeschichte</span></a>
                    (Theologische Fakultät der UZH),
                    Kirchgasse 9,
                    Zürich
                </p>
                <ul class="items">
                    <li>
                        <a class="text_link" href="mailto:peter.opitz@uzh.ch">Prof. Dr. Peter Opitz</a>
                        (Institutsleiter)
                    </li>
                    <li>
                        <a class="text_link" href="mailto:steiniger@theol.uzh.ch">Dr. phil. Judith Steiniger</a>
                        (Wissenschaftliche Mitarbeiterin)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="h2_separator"></div>
</div>

{% endblock %}
