{% extends "base.html" %}

{% block content %}

<h1>
	>
	Statistiken
	{% include "user_status.html" %}
</h1>
<div class="main_box">
	<div class="h2_box">
		<h2>Korrekturkampagne</h2>
			<ul>
				<li id="href_stats_changes" class="stats_toc">Korrekturen & Statusänderungen</li>
				<li id="href_stats_activity" class="stats_toc">Seitenaufrufe & Mitarbeiter</li>
				<li id="href_stats_rank" class="stats_toc">Ranglisten</li>
				<li id="href_stats_state" class="stats_toc">Status</li>
			</ul>
			<br/>
		<div class="h2_section">
			<div class="h3_box">
				<h3 id="stats_changes">Korrekturen und Statusänderungen
					{% include "title_navigation.html" %}
				</h3>
				<div class="h3_section">
					<p>
						Die
							<a class="text_link" href="https://de.wikipedia.org/wiki/Citizen_Science">Citizen-Science</a>-Kampagne
						dauerte
							<span class="kw">205 Tage</span> (12. März - 2. Oktober 2020)
						und endete nach der Korrektur von total
							<span class="kw">81'862</span>
						Karteikarten-Einträgen.
					</p>
					<img class="parallel" alt="Korrekturen" src="{{url_for('static', filename='images/final_stats/changes.png')}}"/>
					<img class="parallel" alt="Fortschritt" src="{{url_for('static', filename='images/final_stats/progress.png')}}"/>
					<div class="clearing"></div>
				</div>
			</div>
			<div class="h3_separator"></div>
			<div class="h3_box">
				<h3 id="stats_activity">Seitenaufrufe
					{% include "title_navigation.html" %}
				</h3>
				<div class="h3_section">
					<p>
						Für die Kampagne haben sich
						<span class="kw">98 Mitarbeiter</span>
						registriert, wovon durchschnittlich
						<span class="kw">3.6 täglich aktiv</span>
						waren.
					</p>
					<p>
						Während der Kampage zählten wir
						<span class="kw">1'152'251 Seitenaufrufe</span>
						<span class="kw_italic">(12. März - 2. Oktober 2020)</span>.
					</p>
					<img class="parallel" alt="Seitenaufrufe" src="{{url_for('static', filename='images/final_stats/visites.png')}}"/>
					<img class="parallel" alt="Anzahl Mitarbeiter" src="{{url_for('static', filename='images/final_stats/users.png')}}"/>
                    <div class="clearing"></div>
					<br/>
					<p>Mitarbeiter zu UZH konnten sich schon vor dem offiziellen Beginn der Kampagne auf der Seite registrieren.</p>
					<div class="clearing"></div>
				</div>
			</div>
			<div class="h3_separator"></div>
			<div class="h3_box">
				<h3 id="stats_rank">Ranglisten
					{% include "title_navigation.html" %}
				</h3>
				<div class="h3_section">
					<p>
						Insgesamt haben sich 24 Personen an den Korrekturarbeiten beteiligt.
						17 Mitarbeiter haben dabei mindestens eine Karteikarte abgeschlossen.
					</p>
                    <br/>
					<p>
						<span class="kw">Top-3-Mitarbeiter</span>
						<span class="kw_italic">(im Vergleich zu allen anderen)</span>
					</p>
					<table class="js-sort-table paleBlueRows">
						<thead class="my_table_head">
							<tr class="my_table_head_row">
								<th class="js-sort-number my_table_head_cell">Rang</th>
								<th class="js-sort-number my_table_head_cell">Korrekturen</th>
								<th class="js-sort-number my_table_head_cell">Abschlüsse</th>
							</tr>
						</thead>
						<tbody>
							<tr class="my_table_row">
								<td class="my_table_cell">1</td>
								<td class="my_table_cell">49'806</td>
								<td class="my_table_cell">5'972</td>
							</tr>
							<tr class="my_table_row">
								<td class="my_table_cell">2</td>
								<td class="my_table_cell">18'134</td>
								<td class="my_table_cell">1'507</td>
							</tr>
							<tr class="my_table_row">
								<td class="my_table_cell">3</td>
								<td class="my_table_cell">5'077</td>
								<td class="my_table_cell">1'317</td>
							</tr>
							<tr class="my_table_row">
								<td class="my_table_cell">4-24</td>
								<td class="my_table_cell">8'845</td>
								<td class="my_table_cell">985</td>
							</tr>
						</tbody>
						<thead class="my_table_head">
							<tr class="my_table_head_row">
								<th class="js-sort-number my_table_head_cell">Total</th>
								<th class="js-sort-number my_table_head_cell">81'862</th>
								<th class="js-sort-number my_table_head_cell">9'781</th>
							</tr>
						</thead>
					</table>
					<br/>
					<p>
						<span class="kw">Ranglisten als Balkendiagramme</span>
						<span class="kw_italic">(eingeschränkt<sup>*</sup>)</span>
					</p>
					<img class="parallel" alt="Mitarbeiter Rangliste (Korrekturen)" src="{{url_for('static', filename='images/final_stats/user_stats_changes.png')}}"/>
					<img class="parallel" alt="Mitarbeiter Rangliste (Abschlüsse)" src="{{url_for('static', filename='images/final_stats/user_stats_finished.png')}}"/>
					<div class="clearing"></div>
					<br>
					<p><sup>*</sup>Die beiden Balkendiagramme enthalten alle Mitarbeiter, die</p>
					<ul>
						<li><span class="kw kw_italic">mindestens 20 Datenbankeinträge editiert</span></li>
						<li><span class="kw kw_italic">mindestens 5 Karteikarten abgeschlossen</span></li>
					</ul>
					<p>haben.</p>
				</div>
			</div>
			<div class="h3_separator"></div>
			<div class="h3_box">
				<h3 id="stats_state">Status
					{% include "title_navigation.html" %}
				</h3>
				<div class="h3_section">
					<p>
						Status der
						<span class="kw">10'012 Karteikarten</span>
						<span class="kw_italic">(am Ende der Kampage!)</span>
						:
					</p>
					<img class="parallel" alt="Statusübersicht" src="{{url_for('static', filename='images/final_stats/overview.png')}}"/>
					<div class="parallel">
						<table class="js-sort-table paleBlueRows">
							<thead class="my_table_head">
								<tr class="my_table_head_row">
									<th class="js-sort-string my_table_head_cell">Status</th>
									<th class="js-sort-number my_table_head_cell">Anzahl</th>
									<th class="js-sort-number my_table_head_cell">[%]</th>
								</tr>
							</thead>
							<tbody>
								<tr class="my_table_row">
									<td class="my_table_cell">
										<a href="{{url_for('overview_state', state='offen')}}">offen</a>
									</td>
									<td class="my_table_cell">0</td>
									<td class="my_table_cell">0</td>
								</tr>
								<tr class="my_table_row">
									<td class="my_table_cell">
										<a href="{{url_for('overview_state', state='abgeschlossen')}}">abgeschlossen</a>
									</td>
									<td class="my_table_cell">9'709</td>
									<td class="my_table_cell">96.96</td>
								</tr>
								<tr class="my_table_row">
									<td class="my_table_cell">
										<a href="{{url_for('overview_state', state='unklar')}}">unklar</a>
									</td>
									<td class="my_table_cell">180</td>
									<td class="my_table_cell">1.8</td>
								</tr>
								<tr class="my_table_row">
									<td class="my_table_cell">
										<a href="{{url_for('overview_state', state='ungültig')}}">ungültig</a>
									</td>
									<td class="my_table_cell">123</td>
									<td class="my_table_cell">1.23</td>
								</tr>
							</tbody>
						</table>
						<p><span class="kw">Beschreibung:</span></p>
						<ul>
							<li>offen: un- oder nur teilweise bearbeitet</li>
							<li>unklar: enthalten ungelöste Probleme</li>
							<li>ungültig: Ausschuss</li>
							<li>abgeschlossen: erfolgreich digitalisiert</li>
						</ul>
					</div>
					<div class="clearing"></div>
				</div>
			</div>
			<br/>
			<p>Die Aktivitäten des Administrators fanden keinen Einzug in die Statistiken dieser Seite.</p>
		</div>
	</div>
</div>

{% endblock %}
